.landing {
  background: linear-gradient(45deg, #242A3A, #0f0d0d);
}

.bg {
  background: linear-gradient(95deg, #7583ff, #780EFF, #E43DFF, #DB00FF);
  border: 1px solid #0f0d0d;
}


.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(95deg, #7583ff, #780EFF, #E43DFF, #DB00FF), none;
}

.button::before {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(95deg, #7583ff, #780EFF, #E43DFF, #DB00FF);
  transition: opacity 0.3s;
  opacity: 0;
}



.button:hover {
  background: #0f0d0d;
  background-image: linear-gradient(95deg, #7583ff, #780EFF, #E43DFF, #DB00FF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  border: 1px solid #A842FF;
}


.hoverBtn:hover {
  background-color: #181c27;
}


.button:hover::before {
  opacity: 1;
}

.gradient-underline {
  position: relative;
  display: inline-block;
}

.gradient-underline-inverse {
  position: relative;
  display: inline-block;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 10px 20px;
  background: #242A3A;
  border: 1px solid #A842FF;
  background: linear-gradient(95deg, #7583ff, #780EFF, #E43DFF, #DB00FF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.gradient-underline-inverse:hover {
  background: linear-gradient(95deg, #7583ff, #780EFF, #E43DFF, #DB00FF);
  border: 1px solid transparent;
  color: white;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  opacity: 0;
  background: linear-gradient(95deg, #7583ff, #780EFF, #E43DFF, #DB00FF);
}


.gradient-underline:hover::after {
  height: 1px;
  opacity: 1;
}


.gradient-font {
  background: linear-gradient(95deg, #7583ff, #780EFF, #E43DFF, #DB00FF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}