* {
  font-family: "Inter";
}

.landing {
  background: linear-gradient(45deg, #242A3A, #0f0d0d);
}

.bg {
  background: linear-gradient(95deg, #6288A1, #B377D3, #B86B85);
  border: 1px solid #0f0d0d;
}



.button:hover {
  background: #181c27;
  border: 1px solid #A842FF;
}


.hoverBtn:hover {
  background: #181c27;
  color: #A842FF;
  border: 1px solid #A842FF;
}


.button:hover::before {
  opacity: 1;
}

.gradient-underline {
  position: relative;
  display: inline-block;
}

.gradient-underline-inverse {
  position: relative;
  display: inline-block;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: #242A3A;
  border: 1px solid #A842FF;
  background: linear-gradient(95deg, #6288A1, #B377D3, #B86B85);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.gradient-underline-inverse:hover {
  background: linear-gradient(95deg, #6288A1, #B377D3, #B86B85);
  border: 1px solid transparent;
  color: white !important;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  opacity: 0;
  background: linear-gradient(95deg, #6288A1, #B377D3, #B86B85);
}


.gradient-underline:hover::after {
  height: 1px;
  opacity: 1;
}


.gradient-font {
  background: linear-gradient(95deg, #57D7FF, #C557FF, #7555FF, #8281FD);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}


.counter-container {
  width: 10px;
  color: #A842FF;
  height: 30px;
  overflow: hidden;
  margin: 0 2px;
}


.number {
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digit {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}